.mainContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121B31;
}

.secondContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainLogoTransparent {
    width: 90%;
    height: auto;
}

.mainRobot {
    width: 35%;
    height: auto;
}

.inputGroup {
    margin-top: 5%;
    display: flex;
    align-items: center;
    width: 100%;
}

.label {
    width: 23%;
    color: #3AEDB1;
    text-align: left;
    margin-right: 10px;
}

.inputBox {
    display: inline-block;
    width: 70%;
    border: 0;
    border-bottom: 1px solid #3AEDB1;
    background: transparent;
}

.emailInput,
.passwordInput {
    width: 100%;
    border: none;
    outline: none;
    color: #3AEDB1;
    background-color: transparent;
    text-align: left;
}

.button {
    cursor: pointer;
    margin-top: 15%;
    background-color: #3AEDB1;
    color: #121B31;
    border-radius: 15px;
    width: 90%;
    padding: 15px 30px;
    font-size: 0.9rem;
    border: 0;
}

.button:hover {
    opacity: 0.93;
    background-color: #3AEDB1;
    color: #121B31;
}

.googleButton {
    width: 25px;
    height: 25px;
}

.textContainer {
    margin-top: 3.5%;
    color: #3AEDB1;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer span:nth-child(2) {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 300px) {
    .button {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 1500px) {
    .secondContainer {
        width: 18vw;
    }
}