/* navigation bar style */
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9990;
}

.navbar {
    background-color: #121B31;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 0 0 16px 16px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
}

/* navigation bar logo */
.profile-logo {
    width: 36px;
    height: 36px;
    z-index: 9999;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.main-logo-transparent {
    width: auto;
    height: 45px;
    z-index: 9999;
}

.trophy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.trophy-logo {
    width: 36px;
    height: 36px;
    z-index: 9999;
}

.trophy-container > p {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

/* modal style */
.modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 27, 49, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #121B31;
    color: whitesmoke;
    margin: 15% auto;
    padding: 20px 10px;
    border: none;
    width: 50%;
    max-width: 400px;
    text-align: center;
}

.signout-btn {
    background-color: whitesmoke;
    color: #121B31;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(14px + 0.5vw);
    margin: 20px 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 70%;
}