.mainContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.chartContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 50%;
    margin: auto;
}

.individualChart {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chartHeaders {
    font-size: 20px;
    font-weight: 1000;
    margin-bottom: 15px;
    margin-top: 20px;
}

@media screen and (max-width: 2000px) {
    .chartContainer {
        width: 70%;
    }
}

@media screen and (max-width: 1000px) {
    .chartContainer {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .chartContainer {
        grid-template-columns: 1fr;
        width: 60%;
        gap: 20px;
    }
}

@media screen and (max-width: 550px) {
    .chartContainer {
        width: 80%;
    }
}

@media screen and (max-width: 420px) {
    .chartContainer {
        width: 90%;
    }
}

/* CSS Button from https://getcssscan.com/css-buttons-examples */
.buttonPushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.buttonEdge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(17, 100%, 16%) 0%,
    hsl(17 100% 32%) 8%,
    hsl(17 100% 32%) 92%,
    hsl(17 100% 16%) 100%
  );
}

.buttonFront {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(22 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .buttonFront {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.buttonPushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.buttonPushable:hover .buttonFront {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.buttonPushable:active .buttonFront {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.buttonPushable:hover .buttonShadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.buttonPushable:active .buttonShadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.buttonPushable:focus:not(:focus-visible) {
  outline: none;
}