.assessment-section {
    display: flex;
    flex-direction: column;
    gap: 0px; 
    width: 95%;
    align-self: center;
    align-items: center;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 0;
    padding: 0%;
    max-width: 400px;
    height: 70vh;
}

.question-wrapper {
    width: 100%;
    height: 20%;
    margin: none;
    margin-bottom: 6%;
}

.question-wrapper:nth-child(4) {
    margin-bottom: 0px;
}


.assessment-question-divider {
    width: 100%;
    margin: auto;
    margin-top: 1%;
    height: 2px;
    position: relative;
}

.assessment-question-divider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #3AEDB1, transparent);
}
