.navbar {
    background-color: transparent;
    margin: none;
    padding: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    padding: none;
    margin: none;
    border: none;
}

.main-logo-dark {
    height: 100%;
    width: auto;
}

